#aside-left{
    display: flex;
    width: 20vw;
}

#side-nav{
    min-width: 75px;
    background-color: var(--grey-1);
    padding: 15px;
    border-top-right-radius: 22px;
}

#icon-container > div {
    height: 46px;
    width: 46px;
    display: table;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative;
}

#icon-container > div > ion-icon{
    display: table-cell;
    vertical-align: middle;
    color: #636363;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    font-size: 24px;
    transition: 0.2s all;
    
}

#icon-container > div > ion-icon:hover + div, #icon-container > div > ion-icon:hover {
    transform: translateY(-4px);
}


#icon-container > div > ion-icon.selected{
    background-color: var(--secondary-color);
    color: #fff;
}

.circle{
    position: absolute;
    right: -3px;
    top: 0;
    z-index: 1000;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    transition: 0.2s all;
}
.red{
    background-color: #ee3a23;
}
.green{
    background-color: #69e781;
}

.filter-option{
    margin-top: 7px;
}

.filter-option__heading{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
}

.filter-option__option{
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 14px;
    transition: 0.2s all;
}

.filter-option__checkbox{
    margin-right: 4px;
}

.filter-option__option span{
    color: var(--secondary-color);
}

.filter-option .selected{
    color: var(--secondary-color);
}

#search-filters{
    width:18.5vw;
    margin-top: 20px;
}

#search-filters > div{
    width: max-content;
    margin: 0 auto;
}

#job-location{
    color: #6f6f6f;
    font-size: 12px;
}

h4{
    font-size: 17px;
    text-transform: uppercase;
}

.search-filter.jobs{
    margin-bottom: 30px;
}
.filter-group{
    display: flex;
    margin-bottom: 30px;

}

.filter-group.icon{
    height: 30px;
    width: 30px;
    display: table;
    margin-right: 15px;
}

.filter-group > div > ion-icon{
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--grey-1);
}
