header{
    display: flex;
    height: 10vh;
    min-height: 75px;
    max-height: 120px;
    align-items: center;
}

#logo{
    padding-left: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    width: 20vw;
}

.avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    
}

header nav {
    width: 50vw;
    margin: 0;
}

#main-nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li.selected{
    color: #000;
    font-weight: 600;
    position: relative;
}

li.selected::after{
    content: '';
    background-color: #ee3a23;
    border-radius: 50%;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 25px;
    left: calc(50% - 5px);
    cursor: default;
}

header nav ul a {
    color: #6e6e6e;
    text-decoration: none;
    transition: 0.2 all;
}

header nav ul a li:not(.selected):hover{
    filter: brightness(70%);
}

#user{
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    align-items: center;
    margin-left: auto;
}

#user > div{
    display: flex;
}

.user__name{
    margin-right: 10px;
    font-size: 14px;
}

.arrow{
    cursor: pointer;
}

.login-with-google-btn {
    margin: 0 20px 0 auto;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    background-color: white;
}

.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

.google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 18px;
    height: 18px;
}